{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tienda Esotérica</title>

    <!-- Vincular el archivo CSS externo -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <!-- Header con logo y texto -->
    <header>
        <!-- Logo a la izquierda -->
         <div class="logo">
            <img src="{% static 'images/EsoterUS.png' %}" alt="EsoterUS" class="logo">
         </div>
       
        <div class="header-text">
            <h1>Tienda Esotérica</h1>
            <p>¡Este es el inicio de nuestra aplicación!</p>
            <p>Bienvenido al mundo de los productos místicos y espirituales</p>
        </div>
        <div class="botones-log">
            <p>¿Ya tienes cuenta? <a href="/login" >Inicia Sesión aquí</a></p>
            <p>¿No tienes cuenta? <a href="/register" style="color: #FFD700">Regístrate aquí</a></p>
        </div>
    </header>

    <!-- Barra de navegación -->
    <nav>
        <a href="/">Inicio</a>
        <a href="/editarProductos">Productos</a>
        <a href="/cesta">Cesta</a>
        <a href="/editarUsuario">Usuarios</a>
    </nav>

    <!-- Contenido principal -->
    <div class="main-content">
        <h2>Productos Destacados</h2>

        <div class="product-grid">
            <div class="product-card">
                <!-- Enlace que lleva a la página vistaProducto -->
                <a href="/vistaProducto">
                    <img src="{% static 'images/piedras.jpg' %}" alt="Producto 1">
                    <h3>Piedras Esotéricas</h3>
                    <p>Protege tu energía y aleja las malas vibras</p>
                    <div class="price">$25.00</div>
                </a>
            </div>

            <div class="product-card">
                <img src="{% static 'images/tarot.jpg' %}" alt="Producto 2">
                <h3>Cartas tarot</h3>
                <p>Para fortalecer la intuición y el amor</p>
                <div class="price">$30.00</div>
            </div>

            <div class="product-card">
                <img src="{% static 'images/vela.jpg' %}" alt="Producto 3">
                <h3>Candil Místico</h3>
                <p>Ideal para rituales de meditación y paz interior</p>
                <div class="price">$18.00</div>
            </div>
        </div>
    </div>

    <footer>
        <p>&copy; 2024 Tienda Esotérica | <a href="#">Política de privacidad</a> | <a href="#">Términos de uso</a></p>
    </footer>
</body>
</html>
